.navbar-app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  background-color: white;
  padding: 0 10px;
  box-sizing: border-box; 
  overflow-x: hidden; 
}

.body{
  background-color: black;
}